@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/jetbrains-mono-v12-latin_cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/jetbrains-mono-v12-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@keyframes heading-cursor {
    from {
        opacity: 1;
    }

    to {
        opacity: .2;
    }
}

:root {
    /* Colors */
    --header-color: #4A4A4A;
    --content-bg-color: #333;
    --bg-color: #242424;
    --font-color: #fff;
    --text-highlight-color: #89FF60;
    --link-hover: #5ac038;
    --selection-color: #357AF0;
    /* Sizes */
    --content-max-width: 1024px;
    --heading-font-size: 36px;
    --big-paragraph-text-size: 18px;
    --paragraph-text-size: 14px;
    --my-photo-height: 250px;
    --section-side-padding: 70px;
}

::selection {
    background-color: var(--selection-color);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "JetBrains Mono", monospace;
    background-color: var(--bg-color);
    overflow-anchor: none;
}

.anchor {
    position: absolute;
    transform: translateY(-100px);
}

.link {
    color: var(--text-highlight-color);
}

.link:hover {
    color: var(--link-hover);
}

.highlight {
    color: var(--text-highlight-color);
}

.main {
    /* Sizing */
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 50px var(--section-side-padding) 10px var(--section-side-padding);

    /* Style */
    background-color: var(--content-bg-color);
    color: var(--font-color)
}

.section {
    background-color: var(--content-bg-color);
}

.heading {
    margin-top: 0;
    margin-bottom: 25px;

    font-size: var(--heading-font-size);
}

.heading::after {
    content: "|";
    animation: .7s ease-in-out 1s infinite alternate heading-cursor;
}


.section:not(:last-child) {
    margin-bottom: 45px;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--header-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-content {
    /* Block setting */
    max-width: var(--content-max-width);
    margin: 0 auto;

    /* Flex settings */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
    font-size: var(--big-paragraph-text-size);
    color: var(--font-color);
}

.header__link:hover {
    color: var(--text-highlight-color);
    text-decoration: underline;
}

.header__img {
    height: 80px;
}


.header__nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.header__nav-list-item {
    font-size: var(--big-paragraph-text-size);
    margin-right: 2rem;
}


/* About me */

.about-me__div {
    display: flex;
    column-gap: 5%;
}

.about-me__first-sentence {
    font-size: var(--big-paragraph-text-size);
}

.about-me__paragraph {
    font-size: var(--paragraph-text-size);
}

.about-me__photo {
    height: var(--my-photo-height);
    align-self: center;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Experience */
.experience__row {
    display: flex;

}

.experience__date {
    flex: 0 0 100px;
    /* padding-top: 4px; */
    text-align: right;
    align-self: flex-start;
    vertical-align: top;
    transform: translateY(2px);
    font-size: var(--big-paragraph-text-size);
}

.experience__date.small {
    transform: translateY(-3px);
}

.experience__history-line {
    flex: 0 0 50px;

    display: flex;
    row-gap: 1px;
    flex-direction: column;
    align-items: center;
}

.experience__big-dot {
    background: no-repeat url("../img/experience/big-dot.svg");
    background-size: contain;
    background-position: center;
    width: 22px;
    flex: 0 0 22px;
    /* flex: 0 0 30%; */
    align-self: center;
    justify-self: center;
}

.experience__dot {
    background: no-repeat url("../img/experience/big-dot.svg");
    background-size: contain;
    background-position: center;
    width: 15px;
    flex: 0 0 15px;
    /* flex: 0 0 30%; */
    align-self: center;
    justify-self: center;
}

.experience__line {
    /* background: no-repeat url("../img/experience/Line.svg");
    background-size: cover;
    background-position: top center; */
    border-left: 4px solid white;
    width: 1px;
    /* height: 50px; */
    flex: 0 0 calc(100%);

    transform: translateY(-2px);
}

.experience__text {
    margin: 0 0 25px;
    font-size: var(--big-paragraph-text-size);
}

.experience__list {
    position: relative;
    margin: 0 0 25px;
}

.experience__list-item {
    font-size: var(--paragraph-text-size);
    transform: translateY(-1px);
}

.experience__sublist {
    margin-top: 10px;
    margin-bottom: 0;
}

.experience__row>.experience__list::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 6px;

    width: 40px;
    border-top: 3px dashed var(--font-color);
}

.last-row-element {
    margin-bottom: 50px;
}

/* Projects */

.projects__list {
    position: relative;
    height: 200px;

    background-image: url("../img/projects/case.svg");
    background-repeat: no-repeat;
    background-position: center center;

    list-style-type: none;
}

.projects__list-item {
    position: absolute;
    font-size: var(--big-paragraph-text-size);
}

.projects__list-item>a {
    text-decoration: none;
}

.projects__list-item>a:hover {
    text-decoration: underline;
}

.projects__list-item:nth-child(1) {
    left: 27%;
    top: 25%;
}

.projects__list-item:nth-child(2) {
    left: 31%;
    top: 69%;
}

.projects__list-item:nth-child(3) {
    right: 31%;
    top: 69%;
}

.projects__list-item:nth-child(4) {
    right: 26%;
    top: 25%;
}


/* Contacts */

.contacts__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contacts__social-logo {
    height: 40px;
}

.contacts__text {
    font-size: var(--big-paragraph-text-size);
    vertical-align: 15px;
}

.contacts__text>.link {
    text-decoration: none;
}

.contacts__text>.link:hover {
    text-decoration: underline;
}



@media only screen and (max-width: 890px) {
    :root {
        --heading-font-size: 27px;
        --big-paragraph-text-size: 17px;
        --paragraph-text-size: 13px;
        --my-photo-height: 150px;
        --section-side-padding: 35px;
    }
}


@media only screen and (max-width: 820px) {
    .contacts__list-item {
        display: flex;
        flex-direction: column;
        gap: 20px 20px;
    }

    .header__nav-list-item {
        margin-right: 1rem;
    }

    .projects {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --heading-font-size: 26px;
        --big-paragraph-text-size: 15px;
        --paragraph-text-size: 12px;
    }

    .contacts__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }

    .contacts__social-logo {
        height: 60px;
    }

    .header__nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .about-me__div {
        flex-direction: column-reverse;
        row-gap: 25px;
    }
}

@media only screen and (max-width: 460px) {
    .header__nav-list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        margin: 5px 10px 5px;

    }

    .experience__list-item {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 430px) {
    :root {
        --heading-font-size: 24px;
        --big-paragraph-text-size: 14px;
        --paragraph-text-size: 10px;
        --section-side-padding: 15px;
    }

    .experience__date {
        flex: 0 0 70px;
    }
}